<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Jot</h1>

  <h2>
    Speak your mind. Never forget. 
  </h2>
  <h2>
    <%= link_to image_tag("jot_logo.png") %>
    
  </h2>
 

  <%= link_to "Sign up!", '#', class: "btn btn-lg btn-primary" %>
</div>

